main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px 10px 5px;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  width: 100%;
  max-width: 900px;
  margin: 0 0 12px;
  border-radius: 2px;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 5px solid #FFFFFF;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../images/back.png');
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

@media screen and (max-width:920px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);

  }
}
.reset-button {
  display: fixed;
  background-color: #AB04D8;
  border: 3px solid #4C3564;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
}

#back-button {
  display: fixed;
  background-color: #AB04D8;
  border: 3px solid #4C3564;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
}

#back-button a {
  color: #fff;
  text-decoration: none;
}

#back-button:hover {
  background-color: #B75AF9;
}
.reset-button:hover {
  background-color: #D29DFC;
  border-color: #6C53A4;
}

.card:hover {
  border: 5px solid #AB04D8;
  transition: border-color 0.3s ease-in-out;
}
.credits-game{
  display: fixed;
  background-color: #ccc;
  margin: 25px;
  padding: 15px 10px 10px;
  border-radius: 5px;
  align-items: center;

}

.player-timer{
  display: fixed;
  margin: 10px;
  align-items: center;

}

.link-zenogakki {
  text-decoration: none;
  display: fixed;
  margin: 10px;
  align-items: center;
}

.player{
  display: fixed;
  margin: 10px;
  align-items: center;
}

.timer{
  display: fixed;
  margin: 10px;
  align-items: center;
  color: #AB04D8;
}

audio{

  display: fixed;

}